<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Law Office</title> 
  <!-- plugins:css -->
  
<!-- Optional theme -->
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="http://www.urbanui.com/" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

   {% include "header.html" %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
     
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% include 'asidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              Add Client
            </h3>
          </div>
         
          <!--Form-->
          
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <form id="add_client" role="form" method="POST" autocomplete="nope"
                          action="">
                        {% csrf_token %}
                        <div class="x_content">
                            <div class="row">
        
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">First Name <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="" class="form-control" id="f_name" name="fname" Required>
                                </div>
        
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">Last Name <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="" class="form-control" id="l_name" name="lname" Required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">Gender <span class="text-danger">*</span></label>
                                    <select class="form-control select-change country-select2"
                                            name="gender" id="select_value">
                                        <option value="male"> Male</option>
                                        <option value="female"> Female</option>
                                        <option value="other"> Other</option>
        
                                    </select>
                                </div>
        
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">Mobile No. <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="" class="form-control" id="mobile" maxlength="11"
                                           name="contact" Required>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">Email ID</label>
                                    <input type="text" placeholder="" class="form-control" id="email" name="email">
                                </div>
                                
                                <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">Address <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="" class="form-control" id="address" name="address" Required>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">Country <span class="text-danger">*</span></label>
                                    <select class="form-control select-change country-select2"
                                            name="country" id="country">
                                           
                                        <option value="Pakistan">Pakistan</option>
        
                                    </select>
                                </div>
        
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">City <span class="text-danger">*</span></label>
                                    <select id="city_id" name="city"
                                          
                                            class="form-control city-select2">
                                        <option value="Peshawar">Peshawar</option>
                                        <option value="Islambad">Islambad</option>
                                        <option value="Lahore">Lahore</option>
                                        <option value="Karachi">Karachi</option>
                                        
        
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">Reference Name </label>
                                    <input type="text" placeholder="" class="form-control" id="reference_name"
                                           name="refname">
                                </div>
        
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <label for="fullname">Reference Mobile </label>
                                    <input type="text" maxlength="11" class="form-control" id="reference_mobile"
                                           name="refcontact">
                                </div>
        
                            </div>
                            <div id="change_court_div" class="hidden">
                            </div>
                            <div class="form-group pull-right">
                                <div class="col-md-12 col-sm-6 col-xs-12">
                                    <a href="" class="btn btn-danger">Cancel</a>
                                    <input type="hidden" name="route-exist-check"
                                           id="route-exist-check"
                                           value="">
                                    <input type="hidden"  name="client_id"
                                           id="token-value"
                                           value="">
        
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save"
                                                                                     id="show_loader"></i>&nbsp;Save
                                    </button>
                                </div>
                            </div>
        
        
                        </div>
                    </form>
                </div>
        
            </div>
        </div>


          <!--End Form-->
         
          
          
          
         
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include 'footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->

 
</body>


</html>
